services:
  app:
    build: .
    ports:
      - "3000:3000"
    environment:
      - REDIS_URL=redis://redis-db:6379
    volumes:
      - .:/app
      - /app/node_modules
    depends_on:
      - redis-db

  redis-db:
    image: redis:alpine
    volumes:
      - elephant_redis_data:/data

volumes:
  elephant_redis_data: